.sidebar {
  background-color: darkslategray;
  width: 10%;
  height: 75vh;
  border-radius: 20px 20px 20px 20px;
  color: white;

  border: 3px white solid;
  font-family: "Dosis", sans-serif;
}
.sidebar_a {
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-weight: 200;
}
.sidebar_li {
  margin-top: 10px;
}
.sb_ul {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: 8% 0 0 12%;
}
